#get-money {
    padding:  45px 0 65px;

    .item-1 {
        padding-right: 66px;
    }
    .item-3 {
        padding-left: 66px;
    }
    h2 {
        color: #133a81;
        font-size: 34px;
        font-weight: 600;
        line-height: 50px;
        text-align: center;
        width: 100%;
        margin: 0 0 48px;
    }
    .icon {
        text-align: center;
        margin: 0 0 34px;
    }
    .text {
        text-align: center;
        color: black;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        h4 {
            color: #1c1c1c;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
            margin: 0 0 22px;
        }
    }
}