@font-face {
    font-family: 'ALS Rubl';
    src: local('ALS Rubl'), local('ALSRubl'),
        url('assets/fonts/ALSRubl.woff2') format('woff2'),
        url('assets/fonts/ALSRubl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import 'reset';

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

strong {
    font-weight: 700;
}

@import 'header';
@import 'menu';
@import 'slider';
@import 'get-money';
@import 'conditions';
@import 'problem-solving';
@import 'advantages';
@import 'wearethesame';
@import 'partners';
@import 'testimonials';
@import 'action';
@import 'need-to-know';
@import 'question';
@import 'footer';
